@use '../mixins.scss' as mixins;
@use '../variables.scss' as variables;

.column {
    flex: 1;
}

.image-column {
    flex: 1;
    padding: 20px;
}

.image-column img {
    max-width: 100%;
    height: auto;
}

.content-column {
    flex: 1;

    h2 {
        text-align: center;
        font-weight: 700;
        color: variables.$text-main-color-gray;
        font-size: variables.$bigger-font-size;
    }

    p {
        margin-top: -20px;
        margin-bottom: 30px;
    }
}

.accordion-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.accordion-content {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding-left: 30px;
}

.image-content {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.section {
    font-size: variables.$medium-font-size;
    border-bottom: 1px solid variables.$tertiary-color-white;
}

.trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-color: variables.$tertiary-color-white !important;
}

.arrow-accordion {
    width: 6px;
    height: 6px;
    border-left: 2px solid variables.$button-main-color-green;
    border-bottom: 2px solid variables.$button-main-color-green;
    transform: rotate(-45deg);
    transition: transform 0.3s ease-out;
}

.section.open .arrow-accordion {
    transform: rotate(135deg);
}

.fadeOut {
    opacity:0;
    display: none;
}

.fadeIn {
    opacity:1;
    display: block;
}

.accordion-item, .accordion-title {
    text-align: left;
}

@include mixins.between-devices("tiny-phone", "tablet") { 
    .accordion-content {
        width: 100%;
        padding-left: 0px !important;
    }

    .accordion-item {
        padding-left: 10px;
        padding-right: 10px;
    }

    .button-cta-accordion {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .couple {
        margin-top: 10px;
    }
}

@include mixins.between-devices("desktop", "large-desktop") { 
    .accordion-content {
        width: 500px;
        padding-left: 10px !important;
    }
}
