@use '../mixins.scss' as mixins;
@use '../variables.scss' as variables;

.mobile-elements {
  .mini-menu button {
      display: block;
      width: 100%;
      padding: 8px;
      color: variables.$tertiary-color-white;
      background-color: variables.$button-color-dark-green;
      border: none;
      text-align: left;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
      font-family: variables.$main-font-family;
      font-weight: 400;
  }
}

@include mixins.between-devices("tiny-phone", "tablet") {
  .desktop-elements {
    display:none !important;
  }
  .mobile-elements {
    display: block !important;
  }
}

@include mixins.between-devices("desktop", "large-desktop") { 
  .desktop-elements {
    display:block !important;
  }
  .mobile-elements {
    display: none !important;
  }
}
