@use '../mixins.scss' as mixins;

.coverage-chunk {
    display: flex;
    justify-content: space-between;
}

.card-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
    max-width: 328px;
    background-color: #fff;
    border: none; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.20);
    margin-bottom: 40px;
}

.card button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.flex-container-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

.computer {
    width: 80%;
}

.angel {
    width: 20%;
}

.card h3 {
    color: #33794a;
    font-weight: 700;
    font-size: 16px;
}

.card p {
    text-align: center;
}

.button-card {
    background-color: #60c742;
    color: #33794a;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
    padding: 10px 25px;
    border-radius: 20px;
    display: inline-block;
}



@include mixins.between-devices("tiny-phone", "tablet") {
    .flex-container-cards {
        flex-direction: column;
        gap: 0px;
        margin-bottom: 30px;
        font-size: 14px;

        p {
            margin-top: 5px;
        }
    }

    .card {
        max-width: 90%;
    }

    .img {
        width: 20%;
    }
}

@include mixins.between-devices("desktop", "large-desktop") { 
    
}
