@use '../mixins.scss' as mixins;
@use '../variables.scss' as variables;

.coverage-chunk {
    display: flex;
    justify-content: space-between;
}

.card-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
    background-color: variables.$tertiary-color-white;
    border: none; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px variables.$primary-shadow-color;
    margin-bottom: 40px;
}

.card button {
    color: variables.$tertiary-color-white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.flex-container-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 5px;
    max-width: fit-content;
}

.computer {
    width: 80%;
}

.angel {
    width: 20%;
}

.card h3 {
    color: variables.$button-color-dark-green;
    font-weight: 700;
    font-size: variables.$medium-font-size;
}

.card p {
    text-align: center;
}

.button-card {
    background-color: variables.$button-main-color-green;
    color: variables.$button-main-medium-green;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
    padding: 10px 25px;
    border-radius: 20px;
    display: inline-block;
}

@include mixins.between-devices("tiny-phone", "tablet") {
    .flex-container-cards {
        flex-direction: column;
        gap: 0px;
        margin-bottom: 30px;
        font-size: variables.$small-font-size;

        p {
            margin-top: 5px;
        }
    }

    .card {
        max-width: 90%;
    }

    .img {
        width: 20%;
    }
}
