@use '../mixins.scss' as mixins;
@use '../variables.scss' as variables;

header {
    background-color: variables.$background-color-black;
    color: variables.$tertiary-color-white;
}

.header-text {
    background-color: variables.$button-color-dark-green;
    font-size: variables.$tiny-font-size;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;

    .img {
        max-height: 2px;
    }

    p, a {
        color: variables.$text-color-yellow;
        text-decoration: none;
    }
}

.header-text p:first-child {
    text-transform: uppercase;
    color: variables.$tertiary-color-white;
}

.logo-row {
    background-color: variables.$button-color-strong-green;
    color: variables.$tertiary-color-white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.logo {
    max-width: 150px;
    height: auto;
}

.buttons {
    display: flex;
    gap: 8px;
    font-size: variables.$small-font-size;
    font-weight: 600;
    padding: 20px;
}

.buttons a:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.button-header,
.button-header-right {
    box-sizing: border-box;
    padding: 8px 15px;
    color: variables.$tertiary-color-white;
    text-decoration: none;
    outline: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: outline 0.3s ease-in-out;
}

.button-header-right {
    margin-left: 60px;
}

.button-header:hover,
.button-header-right:hover {
    padding: 7px 14px;
    border: 1px solid variables.$linear-yellow;
    border-radius: 8px;
}

.logo-row-mobile {
    background-color: variables.$button-color-strong-green;
    color: variables.$tertiary-color-white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}

@include mixins.between-devices("tiny-phone", "tablet") { 
    .header-text{
        display: none;
    }

    .mini-menu {
        button:active, button:hover {
            background-color: variables.$linear-light-green;
        }
    }

    .logo-row {
        flex-direction: column;
        text-align: center;

        .logo {
            margin-bottom: 10px;
        }

        .buttons {
            flex-direction: column;
            gap: 10px;

            .button-header-right {
                margin-left: 0;
            }
        }
    }
}

@include mixins.between-devices("desktop", "large-desktop") { 
    .header-text {
        flex-direction: column;
        text-align: center;
        gap: 10px;

        p {
            margin: 0;
        }

        .phone, .wpp {
            display: block;
            margin: 0 auto;
        }
    }
}

@include mixins.only-device("tablet") { 
    .logo-row {
        flex-direction: column;
        text-align: center;

        .logo {
            margin-bottom: 10px;
        }

        .buttons {
            flex-direction: row;
            gap: 2px;
            align-items: center;

            .button-header-right {
                margin-left: 0;
            }
        }
    }
}
