
@use '../mixins.scss' as mixins;
@use '../variables.scss' as variables;

section {
    text-align: center;
}

.home-chunk {
    position: relative;
    background-image: 
    linear-gradient(
        variables.$linear-shadow-primary, 
        variables.$linear-shadow-secondary 70%,
        variables.$linear-shadow-tertiary 80%, 
        variables.$linear-shadow-quaternary 85%, 
        variables.$linear-shadow-quinary 90%, 
        variables.$linear-shadow-senary 95%, 
        variables.$linear-shadow-septenary 98%, 
        variables.$linear-shadow-octonary 100%
    ),
    url('../../assets/family.png'), url("../../assets/shadow.png");
    background-size: cover, cover, cover;
    background-position: center, center, center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    min-height: 691px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lp-home {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 600px;
    text-align: left;
    margin-left: 180px;
}

.top-page {
    color: variables.$text-main-color-gray;
    font-size: variables.$bigger-font-size;
}

.bottom-page {
    color: variables.$tertiary-color-white;
    font-size: variables.$medium-font-size;
    font-weight: 300;
    margin-top: auto;
    margin-bottom: 70px;

    p {
        margin-bottom: 70px;
    }
}

.button-cta, .button-cta-accordion, .button-cta-primary {
    background-color: variables.$button-main-medium-green;
    color: variables.$tertiary-color-white;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 25px;
    border-radius: 20px;
    display: inline-block;
}

.button-cta-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    margin-bottom: 30px;
}

@include mixins.between-devices("tiny-phone", "tablet") { 
    .home-chunk, .coverage-chunk, .accordion-chunk {
        width: 100%;
    }
    
    .lp-home {
        margin-left: 20px !important;
    }
    
    .top-page {
        font-size: 28px !important;
    }
    
    .bottom-page {
        font-size: 16px !important;
        margin-bottom: -50px !important;
    
        p {
            margin-bottom: 280px !important;
        }
    }
}
