@use '../mixins.scss' as mixins;
@use '../variables.scss' as variables;

.flex-container-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-right: 80px;
}

.column, .button-column {
    flex: 1;
}

.image-column {
    flex: 1;
    padding: 20px;
}

.image-column img {
    max-width: 100%;
    height: auto;
}

.content-column {
    flex: 1;

    h2 {
        text-align: center;
        font-weight: 700;
        color: variables.$text-main-color-gray;
        font-size: variables.$regular-font-size;
    }

    p {
        margin-top: -20px;
        margin-bottom: 30px;
    }
}

.items {
    list-style: none;
    text-align: justify;
    padding: 10px;
}

.items li {
    margin-bottom: 30px;
}

.items span,
.footer-content span {
    font-weight: 700;
    color: variables.$button-secondary-color-green;
    font-size: variables.$regular-font-size;
}

.items li:last-child {
    text-align: justify;
    font-weight: 700;
    color: variables.$button-secondary-color-green;
}

.button-plans {
    display: block;
    padding: 10px;
    color: variables.$tertiary-color-white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.desktop-elements {
    display: block;
}

.mobile-elements {
    display: none;
}
